@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 60px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  backdrop-filter: blur(22px);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  backdrop-filter: blur(22px);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}
.close {
  width: 28px;
  height: 28px;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 22px;
  padding: 33px 60px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 352px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  backdrop-filter: blur(22px);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease;
  padding: 4px 16px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.78px;
  text-align: left;
  color: #ffffff;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #dd183b;

  text-shadow: 0px 0px 6px #ffffff;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    width: 267px;
    height: 41px;
  }
  .header {
    height: 100px;
    padding: 29px 46px;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    align-items: center;
    justify-content: end;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    justify-content: start;
    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 100px;
    height: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .navigation__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 200px;
    padding: 0%;
    height: 14px;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 375px;
  margin: auto;
  background-image: url("/img/hero/Home.png");
}
.home__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.home__container-top {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 34px;
  padding-top: 86px;
}
.home-title {
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(91.33deg, #dd183b 13.83%, #ffd900 90.11%);
  -webkit-background-clip: text;
  color: transparent;
  box-shadow: none;
  text-shadow: 0px 2px 7px #ff9b18;
}
.home-text {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  padding: 41px 0 68px;
}
.home-text-two {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  width: 326px;
}

.home__google-button_link {
  display: inline-block;
  max-width: 312px;
  width: 267px;
  height: 60px;
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;
    width: 1200px;
    height: 800px;
    width: auto;
    background-image: url("/img/hero/Desktop\ -\ 1.png");
  }
  .home__container-top {
    display: flex;

    flex-direction: row;
    align-items: center;
    gap: 88px;
  }
  .home__wrapper {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 275px;
  }

  .home-title {
    font-family: Inter;
    font-size: 66px;
    font-weight: 700;
    line-height: 79.88px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 41px 0 68px;
  }
  .home-text-two {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.63px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 774px;
  }
}

.about {
  padding: 40px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: #ffffff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-title {
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 315px;
  padding-top: 12px;
}
.about-img {
  width: 335px;
  height: 460px;
  padding: 24px 0;
}

.features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 243px;
  padding-top: 20px;
}

.feature {
  font-size: 18px;
  position: relative;
  padding: 10px 0;
  width: 234px;
  padding: 12px 0px;
  gap: 10px;
  border: 1px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.feature::before {
  content: "";
  position: absolute;
  width: 234px;
  height: 1px;
  background-color: black;
  top: 0;
  margin: auto;
  text-align: left;
}

.about-img-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .features-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 88px;
    width: 1212px;

    padding-top: 96px;
  }
  .about-img {
    display: none;
  }
  .about-img-desk {
    display: flex;
    width: 660px;
    height: 460px;
  }
  .about-container-top {
    display: flex;
    flex-direction: row;
    gap: 85px;
  }
  .about-title {
    padding-top: 94px;
  }
  .about-text {
    width: 583px;

    padding-top: 79px;
  }
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  margin-top: 26px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

.button-visible {
  display: none !important;
}

.gallery-button-icon {
  width: 97px;
  height: 24px;
}

.gallery {
  margin: 40px auto;
}
.gallery-title {
  text-align: center;
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.25px;
  text-align: center;
  margin-bottom: 38px;
}
.gallery__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.gallery__item {
  background: transparent;
  width: 315px;
  height: 537px;
  margin: 20px;
}
.gallery__desk {
  display: none;
}
.gallery-button-container-desk {
  display: none;
}
.gallery-avatar {
  width: 315px;
  height: 368px;
}
.gallery-item-text {
  width: 315px;
}
.gallery-item-title {
  font-family: Inter;
  font-size: 26px;
  font-weight: 700;
  line-height: 31.47px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 36px 18px;
}
.gallery-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .gallery__list {
    width: 1199px;
  }
  .gallery__item {
    width: 666px;
    height: 368px;
  }
  .gallery__item-desk {
    display: flex;
    flex-direction: row;
    width: 666px;
    height: 368px;
    gap: 36px;
  }
  .gallery-avatar {
    width: 315px;
    height: 368px;
    gap: 0px;
    opacity: 0px;
  }
  .gallery-item-title {
    padding: 103px 0 18px;
  }
  .gallery-item-title {
    text-align: left;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 31.47px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-text {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 50px;
}
.contact-title {
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  line-height: 53.25px;
  text-align: center;
}
.form-container {
  width: 335px;
  display: flex;
  flex-direction: column;
}
.form-input {
  background-color: #ebebeb;
  border: none;
  padding: 18px 28px;
  margin: 10px 0;
  border-radius: 5px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  width: 335px;

  border-radius: 8px;
}
.form-button {
  margin: 28px auto 47px;
}

.contact-img-phone {
  width: 335px;
  height: 380px;
  gap: 0px;
  opacity: 0px;

  margin: auto;
}
.contact-img-container-text {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  width: 335px;
  padding-top: 28px;
}
.contact-img-container-bold {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 62px 86px 46px 126px;
    gap: 47px;
  }
  .form-container {
    width: 560px;
    display: flex;
    flex-direction: column;
  }
  .form-input {
    border-radius: 8px;
    width: 560px;
  }
  .contact-img-phone {
    width: 621px;
    height: 440px;
    gap: 0px;
    opacity: 0px;
  }
  .contact-img-container-text {
    width: 600px;
  }
}
.footer {
  background: #000000e5;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 46px 14px;
  gap: 32px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 12px;
}
.footer-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: center;

  color: #ffffff;

  text-align: center;
}

.footer-copyright {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: block;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    padding: 20px 86px;
    align-items: center;

    display: flex;
    align-items: center;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: center;
  }
  .footer-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
  }

  .footer-copyright {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: center;
    margin-right: 324px;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 100px 20px 40px;
  background: #fffefb;
}
.policy-terms-title {
  font-family: Inter;
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
}

.policy-terms-text {
  font-family: Inter;
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  padding-top: 28px;
}

.policy-terms-text-one {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #000000;
  padding-top: 28px;
}

.terms-list {
  list-style-type: disc;
  color: #000000;
  padding-left: 25px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-top: 28px;
}
.terms-lists {
  list-style-type: disc;
  color: #000000;
  padding-left: 25px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

  padding-top: 28px;
}
.email-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 140px 86px 40px;
    align-items: start;
  }

  .policy-terms-title {
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #000000;
  }

  .policy-terms-text {
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
  }

  .policy-terms-text-one {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }

  .terms-list {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  max-width: 1440px;
  padding: 26px 10px;
  background: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
  border-radius: 8px;
  display: none;
}

.cookie-popup-text {
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 37.91px;
  text-align: center;
  padding-top: 46px;
}
.cookie-popup-text-two {
  font-family: Montserrat Alternates;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #6f6c90;
  padding: 20px;
}
.cookie-button-container {
  background: #ebebeb;
  padding: 46.5px 19px;
  margin: auto;
}
.cookie-button {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-family: Montserrat Alternates;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

#accept-cookies {
  background-color: #ffd700;
  color: #000;
}

#decline-cookies {
  background-color: #f0e68c;
  color: #000;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text {
    font-family: Inter;
    font-size: 38px;
    font-weight: 500;
    line-height: 37.91px;
    text-align: center;
    padding-top: 57px;
  }
  .cookie-popup-text-two {
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;

    color: #6f6c90;
    padding: 20px;
  }
  .cookie-button-container {
    background: #ebebeb;
    padding: 33px 19px;
    margin: auto;
  }
  .cookie-button {
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    max-width: 1440px;
    padding: 26px 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    border-radius: 8px;
    display: none;
  }
}
